*.swp
qbittorrent.exe - Shortcut.lnk
*.pyc
*.lnkServer/
.vscode/launch.json
config.ini
server_log.txt
magnets.txt
t.py
Server/.vscode/.ropeproject/config.py
Server/.vscode/.ropeproject/objectdb
Server/.vscode/launch.json
Server/config.ini
